language: objective-c
osx_image: xcode8
script:
- set -o pipefail
- git submodule update --init --recursive
- xcodebuild -project JWT.xcodeproj -scheme JWT-OSX test -sdk macosx | xcpretty -c
- pod lib lint --quick
